<div class="container">
	<div class="carousel-inner">
    <div class="item active">
      <img src="/assets/service_tbg.jpg" alt="Los Angeles">
      <div class="carousel-content">
      </div>
      <div class="carousel-caption set-pos">
        <h2>ABOUT US</h2><br>--------------<br>
        <h3>Globally renowned software development and IT company engineering software development and consulting services that go beyond customer expectations.</h3>
      </div>
    </div>

  </div>

  <div class= "row">
  	<h3>
  		Flexsin is a global software development company with about 3+ years of experience and over 50 employees. We provide full-cycle services in the areas of advanced web development, enterprise application, mobile apps, web portal, e-learning, e-commerce, social networking, digital marketing and consulting services to enterprises and SMEs.
  	</h3>

  	<h4>
  		We are an ISO-certified, Nasscom, Microsoft, and Google AdWords partner enabling businesses to get a competitive edge by building robust and scalable IT solutions. With our offshore advantage, businesses can easily lower their operational cost and unlock the true business potential.
  	</h4>
  </div>
	
</div>