<div class="container">
	<div class="carousel-inner">
    <div class="item active">
      <img src="/assets/service_tbg.jpg" alt="Los Angeles">
      <div class="carousel-content">
      </div>
      <div class="carousel-caption set-pos">
        <h2>CONTACT US</h2><br>--------------<br>
        <h3>A one-stop destination for your all business IT needs. We deliver best-in-class services and innovative solutions for your diverse business challenges.</h3>
      </div>
    </div>

  </div>
  <div class="midCon">
    <div class="container clearfix">
      <div class="midLft">
        <div class="contactTop wow fadeInDown" data-wow-delay="0.3s">Accelerate your business growth with Flexsin. Our service spectrum covers mobile apps, digital marketing, and web development services for Enterprises and SMEs.</div>
        <div class="content botPad30 wow fadeInDown" data-wow-delay="0.3s">We appreciate your interest in our services. Kindly use the given form for Quote on custom requirements. Our sales team will shortly revert to you.</div>
        <div class="contactFormOut wow fadeInDown" data-wow-delay="0.3s" >                
          <form action="#" method="post" onSubmit="return captcha_contact_us()">
            <div class="contactForm">
              <ul>
                <li class="clearfix">
                  <div class="formField half fl">
                      <label>Name<span class="redClr">*</span></label>
                      <input type="text" name="name" id="name" class="contactInput">
                  </div>
                  <div class="formField half fr">
                      <label>Email<span class="redClr">*</span></label>
                      <input type="text" name="email" id="email" class="contactInput">
                  </div>
              </li>
              <li class="clearfix">
                  <div class="formField half fl">
                      <label>Contact No.<span class="redClr"></span></label>
                      <input type="text" name="contact" id="contact" class="contactInput">
                  </div>
                  <div class="formField half fr">
                      <label>Subject<span class="redClr">*</span></label>
                      <input type="text" name="subject" id="subject" class="contactInput">
                  </div>
              </li>
              <li class="clearfix">
                  <div class="formField">
                      <label>Message<span class="redClr">*</span></label>
                      <textarea rows="10" cols="2" name="info" id="info" class="contactInput"></textarea>
                  </div>
              </li>
              <li>
                  <div class="formField newCaptchBox"> 
                  <span class="captchaHd">Kindly answer math question to validate submission</span>
                  <span class="capthhaNumber"><img id="cap" class="vAlign" alt="" src="https://www.flexsin.com/include/cpat_img.php?num1=6&num2=9"><!--<span id="cap1">6</span> + <span id="cap2">9</span>--></span> = <input type="text" name="captcha" id="captcha" class="contactInput captchaInput"><a href="javascript:void(0)" onClick="refcapt();" class="refreshLink">Refresh</a>
                  </div>
                  <div>
                   <input type="hidden" name="rand1" id="rand1" value="8">
                  <input type="hidden" name="rand2" id="rand2" value="12">
                  <input type="submit" class="formBtn smll" value="Submit Information"></div>
              </li>
            </ul>
        </div>
      </form>
    </div>
  </div>

</div>