<div class="container">
	<div class="carousel-inner">
    <div class="item active">
      <img src="/assets/service_tbg.jpg" alt="Los Angeles">
      <div class="carousel-content">
      </div>
      <div class="carousel-caption set-pos">
        <h2>OUR INDUSTRIES</h2><br>__________<br>
        <h3>Accelerating innovation and developing competitive edge across industries worldwide. Get the best IT solutions and development capabilities to achieve targeted revenue.</h3>
      </div>
    </div>

  </div>

  <div class="industryTop">
        <div class="container">
            <ul class="industryList clearfix">
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/agriculture_img.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Agriculture<!--Agriculture--></div>
                    <div class="text">Custom agriculture solutions to improve agriculture, livestock &amp; farming profitability.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/automotive.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Automotive<!--Automotive--></div>
                    <div class="text">Hi-speed automotive solutions engineered for delivering the best performance.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/airline.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Airline and Aerospace<!--Airline and Aerospace--></div>
                    <div class="text">Digital solutions enabling to fly high and Remain fast while being on the go.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/finance.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">BFSI<!--BFSI--></div>
                    <div class="text">Monetize data assets with a digitally empowered suite of robust financial applications.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/corporate.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Corporate and Professionals<!--Corporate and Professionals--></div>
                    <div class="text">Corporate and Professional sector includes enterprises that look forward to.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/ecommerce.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">eCommerce and Retail<!--eCommerce and Retail--></div>
                    <div class="text">Reimagine ecommerce and retail capabilities with portal development solutions.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/education.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Education and eLearning<!--Education &amp; eLearning--></div>
                    <div class="text">New-age learning solutions that completely transform knowledge to the core.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/energy.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Energy<!--Energy--></div>
                    <div class="text">Build efficient energy and power transmission capabilities for a relevant tomorrow.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/gaming.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Gaming & Entertainment<!--Gaming &amp; Entertainment--></div>
                    <div class="text">Immersive and interactive platforms to revolutionize end-to-end gaming experience.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/hightech.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">High Tech<!--High Tech--></div>
                    <div class="text">Cutting-edge digital, development and IT solutions keeping you always connected.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/hospitalty.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Hospitality and Travel<!--Hospitality &amp; Travel--></div>
                    <div class="text">Advanced application frameworks and solutions For hotels, ticketing firms and restaurants.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/logistics.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Logistics and Transportation<!--Logistics &amp; Transportation--></div>
                    <div class="text">Supply chain management solutions to improve logistics efficiency to the core.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/manufacturing.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Manufacturing<!--Manufacturing--></div>
                    <div class="text">Streamlined process automaton frameworks rebuild manufacturing excellence.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/marketplace_media.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Marketplace & Media<!--Marketplace &amp; Media--></div>
                    <div class="text">Leverage the opportunities in mobile, cloud and social media.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/oil_gas.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Oil & Gas<!--Oil &amp; Gas--></div>
                    <div class="text">Managing the operations of oil and gas industry based businesses requires coordination.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/healthcare.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Healthcare and Pharmaceutical<!--Pharmaceutical &amp; Healthcare--></div>
                    <div class="text">Rethinking pharma processes and patient care to transform the end-user experience.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/public_sector.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">E-Governance & PSU<!--Public Sector &amp; PSU--></div>
                    <div class="text">Connect with citizens and employees at all levels of government through convenient.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/real_estate.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Real Estate<!--Real Estate--></div>
                    <div class="text">A real estate management solution should effectively integrate activities.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/telecommunication.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Telecommunications<!--Telecommunication--></div>
                    <div class="text">The convergence of IT and telecom networks has opened up new avenues.</div>
                </li>
                <li class="eqHeight wow fadeInDown" data-wow-delay="0.8s">
                    <div class="img"><a href="#"><img src="/assets/utilities.jpg" alt=""><span class="pluse transition"></span></a></div>
                    <div class="hd">Utilities<!--Utilities--></div>
                    <div class="text">ur integrated software utilities suite offers itemized management and tracking.</div>
                </li>
            </ul>
        </div>
    </div>
</div>