<div class="container">
	<div class="carousel-inner">
    <div class="item active">
      <img src="/assets/service_tbg.jpg" alt="Los Angeles">
      <div class="carousel-content">
      </div>
      <div class="carousel-caption set-pos">
        <h2>SERVICE OFFERINGS</h2><br>--------------<br>
        <h3>Delivering a complete lifecycle of innovative web development services harnessing technological prowess to tap the full potential of IT for business excellence.</h3>
      </div>
    </div>

  </div>

  <div class= "row">
  	<h3>
  		Leverage the IT expertise and software services for your critical business operations
  	</h3>
  </div>

  <div class="row">
    <div class="hireBx serviceBg" id="webDevelopment">
      <ul class="clearfix hireLink">
          <li>
            <img src="/assets/wd_icon1.png" alt=""><span>Advanced Web Development</span>
          </li>
          <li>
            <img src="/assets/wd_icon3.png" alt=""><span>Web Application Development</span>
          </li>
          <li>
            <img src="/assets/wd_icon4.png" alt=""><span>Web &amp; Enterprise Portals</span>
          </li>
          <li>
            <img src="/assets/wd_icon5.png" alt=""><span>E-learning &amp; Training</span>
          </li>
          <li>
            <img src="/assets/wd_icon6.png" alt=""><span>E-commerce Solutions</span>
          </li>
          <li>
            <img src="/assets/wd_icon7.png" alt=""><span>Social Networking</span>
          </li>
          <li>
            <img src="/assets/marketpalece_icon.png" alt=""><span>Marketplace and Collaboration</span>
          </li>
          <li>
            <img src="/assets/wd_icon8.png" alt=""><span>Content Management System</span>
          </li>
          <li>
            <img src="/assets/wd_icon11.png" alt=""><span>UI/UX</span>
          </li>
      </ul>
      </div>
  </div>
	
</div>