<div class="container">
	<div class="carousel-inner">
    <div class="item active">
      <img src="/assets/service_tbg.jpg" alt="Los Angeles">
      <div class="carousel-content">
      </div>
      <div class="carousel-caption set-pos">
        <h2>OUR SOLUTIONS</h2><br>--------------<br>
        <h3>Enhance business operations and achieve technological breakthroughs with our integrated an array of scalable IT outsourcing solutions and software expertise.</h3>
      </div>
    </div>

  </div>

  <div class= "row">
  	<h3>
  		Leverage our IT outsourcing capabilities to revolutionize IT spectrum, reimagine the software application development landscape and elevate ROIs. With our IT solutions, businesses embrace agility with zero risk and minimal downtime. We automate businesses to achieve more meaningful and greater impacts on communities.
  	</h3>
  </div>

  <div class="container">
    <div class="wow fadeInDown" data-wow-delay="0.8s">
        <div class="solutionTop">Leverage our IT outsourcing capabilities to revolutionize IT spectrum, reimagine the software application development landscape and elevate ROIs. With our IT solutions, businesses embrace agility with zero risk and minimal downtime. We automate businesses to achieve more meaningful and greater impacts on communities.</div>
        <div class="solutionList">
            <ul class="clearfix">
                <li class="eqHeight"><img src="/assets/solution_icon1.png" alt="" class="front"><img src="/assets/solution_icon1_ro.png" alt="" class="ro"> Management <span>Information System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon2.png" alt="" class="front"><img src="/assets/solution_icon2_ro.png" alt="" class="ro"> Supply Chain <span>Management</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon3.png" alt="" class="front"><img src="/assets/solution_icon3_ro.png" alt="" class="ro"> Enterprise <span>Resource Planning</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon4.png" alt="" class="front"><img src="/assets/solution_icon4_ro.png" alt="" class="ro"> Customer Relation <span>Management</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon5.png" alt="" class="front"><img src="/assets/solution_icon5_ro.png" alt="" class="ro"> Point of Sale <span>System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon6.png" alt="" class="front"><img src="/assets/solution_icon6_ro.png" alt="" class="ro"> Knowledge <span>Management System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon8.png" alt="" class="front"><img src="/assets/solution_icon8_ro.png" alt="" class="ro"> Hotel/Flight <span>Reservation System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon9.png" alt="" class="front"><img src="/assets/solution_icon9_ro.png" alt="" class="ro"> Recruitment <span>Management System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon10.png" alt="" class="front"><img src="/assets/solution_icon10_ro.png" alt="" class="ro"> Social Networking <span>Development</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon11.png" alt="" class="front"><img src="/assets/solution_icon11_ro.png" alt="" class="ro"> eLearning Portal <span>Development</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon12.png" alt="" class="front"><img src="/assets/solution_icon12_ro.png" alt="" class="ro"> eCommerce <span>Solutions</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon13.png" alt="" class="front"><img src="/assets/solution_icon13_ro.png" alt="" class="ro"> Dating Portal <span>Development</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon14.png" alt="" class="front"><img src="/assets/solution_icon14_ro.png" alt="" class="ro"> Auction Portal <span>Development</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon15.png" alt="" class="front"><img src="/assets/solution_icon15_ro.png" alt="" class="ro"> Comparison Portal <span>Development</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon16.png" alt="" class="front"><img src="/assets/solution_icon16_ro.png" alt="" class="ro"> Project Management <span>System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon17.png" alt="" class="front"><img src="/assets/solution_icon17_ro.png" alt="" class="ro"> Database <span>Management System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon18.png" alt="" class="front"><img src="/assets/solution_icon18_ro.png" alt="" class="ro"> Online Ordering <span>System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon19.png" alt="" class="front"><img src="/assets/solution_icon19_ro.png" alt="" class="ro"> Hotel Management <span>System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon20.png" alt="" class="front"><img src="/assets/solution_icon20_ro.png" alt="" class="ro"> Restaurant <span>Management System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon21.png" alt="" class="front"><img src="/assets/solution_icon21_ro.png" alt="" class="ro"> Employee <span>Management System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon2.png" alt="" class="front"><img src="/assets/solution_icon2_ro.png" alt="" class="ro"> Real Estate <span>Management System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon23.png" alt="" class="front"><img src="/assets/solution_icon23_ro.png" alt="" class="ro"> Hospital <span>Management System</span></li>
                <li class="eqHeight"><img src="/assets/solution_icon24.png" alt="" class="front"><img src="/assets/solution_icon24_ro.png" alt="" class="ro"> School <span>Management System</span></li>
            </ul>
        </div>
    </div>
    <div class="wow fadeInDown" data-wow-delay="0.8s">
        <h2 class="mainHd tac">Products</h2>
        <div class="content tac">We deliver cost-effective, innovative, enterprise-grade products and solutions using latest technological impediments to provide a competitive advantage to businesses. Our custom solutions not only meet the specific needs of a business but also help in gaining 1an improved return on investment.</div>
        <div class="trendingList trendingSlider">
          <div class="item"><img src="/assets/emr_icon.png" alt=""> Electronic Medical <span>Record (EMR)</span></div>
          <div class="item"><img src="/assets/hrm_icon.png" alt=""> Human Resource <span>Management System</span></div>
          <div class="item"><img src="/assets/inventory_icon.png" alt=""> Inventory <span>Management</span></div>
          <div class="item"><img src="/assets/billing_icon.png" alt=""> Billing <span>Management</span></div>
          <div class="item"><img src="/assets/recruitment_icon.png" alt=""> Recruitment <span>Management</span></div>                    
          <div class="item"><img src="/assets/payroll_icon.png" alt=""> Payroll <span>Management</span></div>                    
          <div class="item"><img src="/assets/mobile_shoping_icon.png" alt=""> Mobile Shopping <span>Cart App</span></div>
          <div class="item"><img src="/assets/laundry_icon.png" alt=""> Laundry <span>Service App</span></div>
        </div>    
    </div>
  </div>



</div>