<div class="container">
	<div class="carousel-inner">
    <div class="item active">
      <img src="/assets/service_tbg.jpg" alt="Los Angeles">
      <div class="carousel-content">
      </div>
      <div class="carousel-caption set-pos">
        <h2>TECHNOLOGY PLATFORMS OVERVIEW</h2><br>--------------<br>
        <h3>Enterprise expertise in operational and development technologies enables businesses to unlock scalable IT opportunities. Reimagine technological frameworks to deliver actionable processes and IT solutions.</h3>
      </div>
    </div>

  </div>


  <div class="midCon">
    <div class="container">
      <div class="wow fadeInDown" data-wow-delay="0.8s">
        <h2 class="mainHd tac">Leverage technology experts to convert visions into software solutions!</h2>
        <div class="clearfix hireCon">
          <div>
            <div class="hireBx techBg" id="opensource">
              <ul class="clearfix hireLink tech">
                <li><a href="#"><img src="/assets/opensource_icon1.png" alt=""><span>PHP</span></a></li>
                <li><a href="#"><img src="/assets/opensource_icon2.png" alt=""><span>Python</span></a></li>
                <li><a href="#"><img src="/assets/opensource_icon3.png" alt=""><span>ROR</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="wow fadeInDown" data-wow-delay="0.8s">
        <h2 class="mainHd tac">Trending</h2>
        <div class="content tac">Infusing fresh insights and business intelligence of our tech labs allow businesses to set IT and software trends. We align our IT capabilities and keep a focused approach to deliver best solutions for future-ready enterprises. </div>
        <div class="trendingList trendingSlider">
          <div class="item"><a href="#" class="transition"><img src="/assets/tec_trending_icon2.png" alt=""> Ruby on Rails</a></div>
          <div class="item"><a href="#" class="transition"><img src="/assets/tec_trending_icon3.png" alt=""> MongoDB</a></div>
          <div class="item"><a href="#" class="transition"><img src="/assets/tec_trending_icon4.png" alt=""> Python</a></div>
        </div>
      </div>
    </div>
  </div>
</div>